
Data-Validate/.env
Data-Validate/.ipynb_checkpoints/.env-checkpoint
Python/instantclient_19_5/*
.Rproj.user
*.tar
Data-Validate/.ipynb_checkpoints/Schema-Validate-checkpoint.py
.Rhistory
Python-Selenium-Firefox/instantclient_19_5/*
.idea/
.env
Python/.ipynb_checkpoints/Python3.10 Connection schema-checkpoint.ipynb
Python/Python3.10 Connection schema.ipynb
Screenshot 2023-05-24 150100.png
krb5.keytab
Kerberos/krb5.keytab
Kerberos/krb5.conf
tableau-transfer/.ipynb_checkpoints/Tableau-Transfer-checkpoint.py
hyperd.log
temp.hyper
tableau-transfer/.ipynb_checkpoints/Tableau-Transfer_debug-checkpoint.py
tableau-transfer/.ipynb_checkpoints/Untitled-checkpoint.ipynb
tableau-transfer/Untitled.ipynb
sharepoint-to-staging/.ipynb_checkpoints/sharepoint_to_staging-checkpoint.py
tableau-transfer/.ipynb_checkpoints/Dockerfile-checkpoint
DataDotWorld/Unfilled Metadata - Stewards.xlsx
DataDotWorld/__pycache__/send_email.cpython-38.pyc
*.tdsx
*.tds
/tableau-transfer/Data/*
.RData
